:root {
  font-family: "Baloo 2";
  font-weight: 300;
  --blue: #22223b;
  --orange: #e28432;
  --silver: #8d98a7;
  --yellow: #ffff82;
  --beige: #f5f7dc;
}

body {
  color: var(--beige);
  background-color: var(--blue);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 1.5rem;
}

body::-webkit-scrollbar-track {
  background: var(--blue);
}

body::-webkit-scrollbar-thumb {
  background: rgba(141, 152, 167, 0.1);
}

main {
  margin-left: 1rem;
  padding: 1rem;
}

.navbar {
  top: 0;
  width: 90vw;
  height: 5rem;
  position: fixed;
  background-color: rgba(141, 152, 167, 0.75);
  padding: 0px;
  margin-left: 5vw;
  margin-right: 5vw;
  flex-direction: row;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 200ms ease;
}

.navbar-hidden {
  top: -10rem;
  width: 90vw;
  height: 5rem;
  position: fixed;
  background-color: rgba(141, 152, 167, 0.75);
  padding: 0px;
  margin-left: 5vw;
  margin-right: 5vw;
  flex-direction: row;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 400ms ease;
}

.navbar:hover {
  height: 6.5rem;
  background-color: rgba(141, 152, 167, 0.97);
}

.navbar:hover .link-text {
  display: block;
}

.navbar-nav {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  align-content: center;
  margin-top: 0.5rem;
}

.nav-center {
  display: flex;
  align-content: center;
}

.nav-title {
  color: var(--blue);
  font-size: 60px;
  font-family: "Rajdhani";
}

.nav-right {
  display: flex;
  align-content: center;
}

#logo {
  width: 40px;
  height: 50px;
}

.nav-link {
  margin-left: 1rem;
  margin-right: 1rem;
  height: 5rem;
  color: var(--orange);
  font-size: 40px;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  text-decoration: none;
  transition: 200ms ease;
}

.link-text {
  display: none;
  font-size: 16px;
  justify-self: center;
  align-self: flex-start;
  margin: 0px;
  text-decoration: none;
  font-family: "Rajdhani";
  font-weight: 700;
  color: var(--blue);
}

.fa-primary {
  color: var(--orange);
}

.fa-secondary {
  color: var(--blue);
}

.fa-primary,
.fa-secondary {
  transition: 200ms ease;
}

/* a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
} */

/* form div {
  margin: 1em;
  display: inline-block;
} */

/* .account-links {
  float: right;
} */

.content {
  margin-top: 4rem;
}

.title {
  text-align: center;
}

#main-prod-title {
  text-align: center;
}

#main-prod-img {
  width: 800px;
  display: block;
  margin: auto;
}

#carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#filters {
  display: flex;
  flex-wrap: wrap;
}

.filter {
  margin-left: 25px;
}

#product {
  margin: 25px;
}

.prod-img {
  width: 400px;
}

#desc {
  width: 400px;
}

.single-product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#logo {
  width: 100px;
  /* margin: 10px; */
}

/* #logo-name {
  display: flex;
  flex-wrap: wrap;
} */
