:root {
  font-family: "Baloo 2";
  font-weight: 300;
  --blue: #22223b;
  --orange: #e28432;
  --silver: #8d98a7;
  --yellow: #ffff82;
  --beige: #f5f7dc;
}

body {
  color: var(--beige);
  background-color: var(--blue);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 1.5rem;
}

body::-webkit-scrollbar-track {
  background: var(--blue);
}

body::-webkit-scrollbar-thumb {
  background: rgba(141, 152, 167, 0.1);
}

main {
  margin-left: 1rem;
  padding: 1rem;
}

.navbar {
  top: 0;
  width: 90vw;
  height: 5rem;
  position: fixed;
  background-color: rgba(141, 152, 167, 0.75);
  padding: 0px;
  margin-left: 5vw;
  margin-right: 5vw;
  flex-direction: row;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 200ms ease;
  z-index: 100;
}

.navbar-hidden {
  top: -10rem;
  width: 90vw;
  height: 5rem;
  position: fixed;
  background-color: rgba(141, 152, 167, 0.75);
  padding: 0px;
  margin-left: 5vw;
  margin-right: 5vw;
  flex-direction: row;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 400ms ease;
}

.navbar:hover {
  height: 6.5rem;
  background-color: rgba(141, 152, 167, 0.97);
}

.navbar:hover .link-text {
  display: block;
}

.navbar-nav {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  align-content: center;
  margin-top: 0.5rem;
}

.nav-center {
  display: flex;
  align-content: center;
}

.nav-title {
  color: var(--blue);
  font-size: 60px;
  font-family: "Rajdhani";
}

.nav-right {
  display: flex;
  align-content: center;
}

#logo {
  width: 75px;
  height: 45px;
}

.nav-link {
  margin-left: 1rem;
  margin-right: 1rem;
  height: 5rem;
  color: var(--orange);
  font-size: 40px;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  text-decoration: none;
  transition: 200ms ease;
}

.link-text {
  display: none;
  font-size: 16px;
  justify-self: center;
  align-self: flex-start;
  margin: 0px;
  text-decoration: none;
  font-family: "Rajdhani";
  font-weight: 700;
  color: var(--blue);
}

.fa-primary {
  color: var(--orange);
}

.fa-secondary {
  color: var(--blue);
}

.fa-primary,
.fa-secondary {
  transition: 200ms ease;
}

.content {
  margin-top: 4rem;
}

.title {
  text-align: center;
  font-family: "Rajdhani";
}

#main-prod-title {
  text-align: center;
}

/* #main-prod-img {
  width: 800px;
  display: block;
  margin: auto;
} */

#carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#filters {
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin-left: 6.2rem;
}

.filter {
  width: 200px;
  display: inline-block;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

.filter-button {
  width: 150px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 23px;
  padding: 5px;
  align-self: center;
  border-radius: 15px;
  font-family: "Rajdhani";
  font-weight: 900px;
  background-color: var(--blue);
  color: var(--orange);
  border-color: var(--orange);
  border-width: 3px;
}

.form-box {
  display: flex;
  flex-direction: row;
  width: 90vw;
  margin-left: 30px;
}

.form-select {
  width: 90%;
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
  font-family: "Rajdahni";
  font-weight: 500;
  border: none;
  border-radius: 2px;
  background-color: var(--beige);
  font-size: 16px;
  color: var(--blue);
}

#product {
  margin: 25px;
}

.product-card-image {
  width: 400px;
}

#desc {
  width: 400px;
}

.slideshow-container {
  max-width: 80vw;
  max-height: 80vw;
  position: relative;
  margin: auto;
}

.slide {
  border-radius: 10%;
}

.slide-prev,
.slide-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(141, 152, 167, 0.75);
  user-select: none;
}

.slide-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slide-prev:hover,
.slide-next:hover {
  background-color: rgba(141, 152, 167, 0.95);
}

.slide-text {
  color: var(--blue);
  font-size: 24px;
  font-family: "Rajdhani";
  font-weight: 700;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: rgba(141, 152, 167, 0.7);
}

.slide-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: rgba(141, 152, 167, 0.1);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slide-active,
.slide-dot:hover {
  background-color: rgba(141, 152, 167, 0.75);
}

.single-product-container {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  margin-left: 35vw;
  width: 30vw;
  background-color: rgba(141, 152, 167, 0.1);
  border: solid var(--silver) 2px;
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.single-product-info {
  overflow: hidden;
  align-content: center;
  justify-content: center;
  text-align: center;
  word-wrap: normal;
}

.featured {
  margin-top: 0px;
  margin-bottom: 2rem;
  text-align: center;
  font-family: "Rajdhani";
  font-size: 48px;
  font-weight: 300;
}

.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 2rem;
  justify-content: center;
}

.product-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 20rem));
  gap: 1rem;
  justify-content: center;
}

.product-card-price {
  color: var(--orange);
  width: 100px;
  margin-left: 38%;
  border-radius: 10%;
}

.rupee-sign {
  margin-left: 0.3rem;
  height: auto;
}

.card-body {
  overflow: hidden;
  box-shadow: 0 2px 20px var(--silver);
  border-radius: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
  text-align: center;
}

.product-card-body {
  overflow: hidden;
  /* box-shadow: 0 2px 20px var(--silver); */
  border-radius: 15%;
  border-width: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.product-card-name {
  margin-bottom: 0px;
}

.product-card-price {
  margin-top: 0px;
  margin-bottom: 0px;
}

.card-text {
  font-family: "Rajdhani";
  margin-bottom: 1rem;
  padding-bottom: 0px;
}

.product-card-text {
  font-family: "Baloo 2";
  margin-bottom: 1rem;
  padding-bottom: 0px;
}

.card-image {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}

.product-card-image {
  height: 20rem;
  object-fit: cover;
}

.card-button {
  margin-bottom: 1rem;
  padding: 3% 10%;
  border-radius: 15px;
  background-color: var(--blue);
  font-family: "Rajdhani";
  font-weight: 700;
  border-width: 2px;
  color: var(--beige);
  border-color: var(--beige);
  transition: 200ms ease;
  cursor: pointer;
}

.product-card-button {
  margin-bottom: 1rem;
  padding: 3% 10%;
  border-radius: 15px;
  background-color: var(--beige);
  font-family: "Rajdhani";
  font-weight: 700;
  border-width: 2px;
  color: var(--blue);
  border-color: var(--silver);
  transition: 200ms ease;
  cursor: pointer;
}

.card-button:hover {
  color: var(--blue);
  border-color: var(--blue);
  background-color: var(--beige);
  box-shadow: 0 0 10px var(--beige);
}

.product-card-button:hover {
  box-shadow: 0 0 10px var(--beige);
}

.back-to-products {
  font-size: 50px;
  text-shadow: rgba(141, 152, 167, 0.5) 0 0 10px;
  display: inline-block;
  justify-self: center;
  margin-left: 30vw;
}

.back-text {
  text-decoration: none;
  color: var(--silver);
}

.auth-form {
  margin-top: 30vh;
  margin-left: 30vw;
  width: 40vw;
  margin-right: 30vw;
  font-size: 24px;
}

.auth-field {
  width: 100%;
  background-color: var(--beige);
  font-size: 24px;
  color: var(--blue);
}

.auth-submit {
  margin-top: 1rem;
  margin-left: 50%;
  padding: 2%;
  border-radius: 15px;
  background-color: var(--blue);
  font-family: "Rajdhani";
  font-weight: 700;
  font-size: 16px;
  border-width: 2px;
  color: var(--orange);
  border-color: var(--silver);
  transition: 200ms ease;
  cursor: pointer;
  justify-self: center;
}

.auth-submit:hover {
  color: var(--blue);
  border-color: var(--blue);
  background-color: var(--beige);
  box-shadow: 0 0 10px var(--beige);
}

.auth-text {
  margin-left: 30%;
}

.cart {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-left: 35vw;
  width: 30vw;
}

.cart-item {
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin: 0px;
  padding-right: 10px;
}

.cart-item-list {
  list-style: none;
}

.cart-continue {
  margin-top: 1rem;
  margin-left: 0px;
  padding: 3% 10%;
  border-radius: 15px;
  background-color: var(--blue);
  font-family: "Rajdhani";
  font-weight: 700;
  font-size: 16px;
  border-width: 2px;
  color: var(--orange);
  border-color: var(--silver);
  transition: 200ms ease;
  cursor: pointer;
  justify-self: center;
}

.cart-checkout {
  padding: 3% 10%;
  border-radius: 15px;
  background-color: var(--blue);
  font-family: "Rajdhani";
  font-weight: 700;
  font-size: 16px;
  border-width: 2px;
  color: var(--beige);
  border-color: var(--beige);
  transition: 200ms ease;
  justify-self: center;
  cursor: pointer;
}

.cart-checkout:hover {
  color: var(--blue);
  border-color: var(--blue);
  background-color: var(--beige);
  box-shadow: 0 0 10px var(--beige);
}
