body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.account-links {
  float: right;
}

.title {
  text-align: center;
}

#main-prod-title {
  text-align: center;
}

#main-prod-img {
  width: 800px;
  display: block;
  margin: auto;
}

#carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#filters {
  display: flex;
  flex-wrap: wrap;
}

.filter {
  margin-left: 25px;
}

#product {
  margin: 25px;
}

.prod-img {
  width: 400px;
}

#desc {
  width: 400px;
}

.single-product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#logo {
  width: 100px;
  margin: 10px;
}

#logo-name {
  display: flex;
  flex-wrap: wrap;
}
